* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
    --main-bg-colour: #c084fc;
    --main-colour: aquamarine;
    --second-colour: crimson;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--main-bg-colour);
    color: var(--main-colour);
    font-weight: 900;
    font-size: 1.3rem;
    padding: 16px 8px;
}

.sidebar ul {
    list-style: none;
    margin: 36px 0;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar ul a:hover {
    filter: brightness(0.85);
}

.sidebar ul a:active {
    filter: brightness(2);
}

.sidebar .logo,
.sidebar ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: start;
    margin: 16px 8px;
}

.sidebar img,
.sidebar .logo img {
    height: 24px;
    justify-self: center;
}

.sidebar .logo {
    font-size: 1.8rem;
}

.sidebar .logo img {
    height: 48px;
}

.header {
    grid-column: 2 / 3;
}

.main {
    grid-column: 2 / 3;
}
