* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 8px;

}

.sidebar {
    grid-row: 1 / 3;
    background-color: #c084fc;
    color: aquamarine;
    font-weight: 900;
    font-size: 1.1rem;
    padding: 16px 8px;
}

.sidebar ul {
    list-style: none;
}

.sidebar .links {
    margin: 36px 0;
}

.sidebar .logo,
.sidebar ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: start;
    padding: 8px;
}

.sidebar .logo {
    font-size: 1.5rem;
}

.sidebar img {
    height: 24px;
    width: auto;
    justify-self: center;
}

.sidebar .logo img {
    height: 48px;
    width: auto;
    justify-self: center;
}

.header {
    grid-column: 2 / 3;
}

.main {
    grid-column: 2 / 3;
}

.footer {
    grid-column: 1 / 3;
}
